body {
  margin: 0 auto;

  border-width: 2px;
  border-style: solid;

  background-color: lightblue;
}

img {
  width: 100%;
  height: auto;
}


@media(min-width: 1200px) {
  body {
    max-width: 1400px;

    border-color: #000000;
  }

}

@media(max-width: 1199px) {
  body {
    max-width: 1199px;
    border-color: blue;
  }
}


@media(max-width: 767px) {
  body {
    min-width: 320px;
    max-width: 767px;

    border: 2px solid yellow;
  }
  
}


