@dashed: 1px dashed red;
@pink: #da284f;
@lightpink: #da4465;
@darkpink: #b32645;


/*
body desktop - max-width: 1400px;
body tablet - max-width: 1199px;
body mobile - min/max-width: 320px/767px;

content, d/t/m: 85% / 90% / 95%
*/


@media(min-width: 1200px), (max-width: 1400px) {
  .guides {
    background-color: #ffffff;
  }

  .guides__wrapper {
    padding: 70px 0 90px;
  }

  .guides__list {
    display: flex;
    justify-content: space-between;
  }

  .guides__item {
    width: 32%;
    border-radius: 20px;

  }

  .guides__image--wrapper {
    overflow: hidden;
    border-radius: 20px;
    height: 250px;

    display: flex;
    justify-content: center;

    & .guides__image {
      height: 120%;
      width: auto;
    }
  }

  .guides__info--wrapper {
    position: relative;
    margin-top: -10px;
    padding-bottom: 10px;
    background-color: rgba(32, 74, 231, 0.5);
    border-radius: 20px;
  }

  .guides__info {
    margin-top: -10px;
    padding: 20px;

    color: #ffffff;

    background-color: @pink;
    border-radius: 20px;
  }

  .guides__name {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .guides__pos {
    margin-bottom: 15px;
    font-size: 0.8rem;
  }

  .guides__contacts {
    /*position: absolute;*/
    z-index: 200;
  }

  .guides__contacts--button {
    position: absolute;
    left: 10px;
    bottom: -13px;
    width: 48px;
    height: 48px;
    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 20;

    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 8px);
      top: calc(50% - 6px);
      width: 10px;
      height: 10px;
      border-top: 3px solid @pink;
      border-right: 3px solid @pink;
      transform: rotate(45deg);
    }

    &:hover {
      background-color: @pink;
      border: 2px solid #ffffff;

      &::before {
        border-color: #ffffff;
      }
    }
  }

  .guides__contacts--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    left: 30px;
    bottom: -13px;

    padding: 4px 0;
    width: 0;
    height: 40px;
    overflow: hidden;
    transition: width, 1s;

    font-size: 1rem;
    color: #000000;
    
    background-color: #ffffff;
    border-radius: 10px;
    
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);

    z-index: 10;

    & span,
    & a {
      width: 200px;
    }
  }

  .guides__contacts--button:hover + .guides__contacts--wrapper {
    width: 200px;
    padding-left: 40px;
    padding-right: 10px;
  }

}



@media(max-width: 1199px) {
  .guides__wrapper {
    padding: 50px 0;
  }

  .guides__image--wrapper {
    height: 200px;
  }

  .guides__info {
    padding: 10px;
    padding-bottom: 20px;
  }

  .guides__name {
    font-size: 1rem;
  }

  .guides__contacts--info {
    font-size: 0.9rem;
  }

  .guides__contacts--button:hover + .guides__contacts--wrapper {
    width: calc(85% - 45px);
  }

  .guides__contacts--button {
    left: 5px;
  }

  .guides__contacts--wrapper {
    left: 25px;
  }
}


@media(max-width: 767px) {
  .guides__wrapper {
    padding: 30px 0;
  }

  .guides__list {
    margin: 0 auto;
    min-width: 280px;
    max-width: 300px;

    flex-wrap: wrap;
  }

  .guides__item {
    flex-basis: 100%;

    margin-bottom: 40px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}





