
@dashed: 1px dashed red;
@pink: #da284f;
@lightpink: #da4465;
@darkpink: #b32645;


/*
body desktop - max-width: 1400px;
body tablet - max-width: 1199px;
body mobile - min/max-width: 320px/767px;

content, d/t/m: 85% / 90% / 95%
*/


@media(min-width: 1200px), (max-width: 1400px) {
  .page-inside .inside__header {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-inside .about__header,
  .page-inside .tours__header {
    background-image: url(../img/bg-about-header1400.jpg);
  }

  .page-inside .booking__header {
    background-image: url(../img/booking-bg-header-desk2.jpg);
  }
  
  .page-inside .news__header {
    background-image: url(../img/bg-news-header.jpg);
  }

  .page-inside .reviews__header {
    background-image: url(../img/bg-reviews-header.jpg);
  }

  .page-inside .contacts__header {
    background-image: url(../img/bg-contacts-header.jpg);
  }

  .page-inside .main-nav {
    margin-bottom: 90px;
  }

  .header-inside__title {
    position: relative;
    margin-bottom: 90px;

    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 200;

    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 40px);
      top: -30px;

      width: 80px;
      height: 2px;
      background-color: #ffffff;
    }
  }

}


@media(max-width: 1199px) {

  .page-inside .main-nav {
    margin-bottom: 70px;
  }

  .header-inside__title {
    margin-bottom: 70px;

    &::before {
      top: -20px;
    }
  }
}


@media(max-width: 767px) {
  
  .page-inside .main-nav {
    margin-bottom: 40px;
  }


  .header-inside__title {
    margin-bottom: 40px;

    &::before {
      top: -10px;
    }
  }


}






