
@dashed: 1px dashed red;
@pink: #da284f;
@lightpink: #da4465;
@darkpink: #b32645;


/*
body desktop - max-width: 1400px;
body tablet - max-width: 1199px;
body mobile - min/max-width: 320px/767px;

content, d/t/m: 85% / 90% / 95%
*/


@media(min-width: 1200px), (max-width: 1400px) {
  
  

}


@media(max-width: 1199px) {
  

}


@media(max-width: 767px) {
  


}






